@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    animation: bodyanimation 1s ease-in;
  }
  @keyframes bodyanimation {
   from {opacity: 0%;
   }
   to {opacity: 100%;
   }

 }
 
 header {
  position: fixed; /* Pysyy ylhäällä koko ajan */
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 102, 0, 0.897);
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  height: 73.2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header-image {
    margin-left: 220px;
    width: 10%;
    object-fit: cover; /* Tämä säilyttää kuvan suhteet ja täyttää tilan */
}
.header-content {
    position: absolute;
    top: 50%;
    left: 64%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-weight: 600;
}
li {
    display: inline-block;
    margin: 40px;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
}
header ul li a:hover {
    color: #ffffff;
    transition: all 0.3s ease 0s;
  }


.img1, .img3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  .img1 {
    background-image: url('img1.jpg');
    background-size: cover; /* Peittää koko näytön */
    width: 100%;
    height: 90vh; /* Asettaa korkeuden näkymän korkeudeksi */
  }
  .img1, ptext {
    text-align: center;
    padding-top: 16%;
    color: white;
    font-size: 36px;
    font-weight: 600;
  }


  .img2 {
    background-image: url('img2.jpg');
    background-size: cover; /* Peittää koko näytön */
    width: 100%;
    height: 100vh; /* Asettaa korkeuden näkymän korkeudeksi */
  }
  .img2, h1 {
    padding-top: 7%;
    padding-left: 3%;
    color: white;
    font-size: 26px;
    font-weight: 600;
  }
  .img2, p {
    padding-left: 3%;
    color: black;
    font-size: 20px;
    font-weight: 600;
  }
  .img3 {
    background-image: url('img3.jpg');
    background-size: cover; /* Peittää myös tämän alueen */
    width: 100%;
    height: 70vh; /* Asettaa korkeuden näkymän korkeudeksi */
  }
  .img4 {
    background-image: url('img4.jpg');
    background-size: cover; /* Peittää koko näytön */
    width: 100%;
    height: 20vh; /* Asettaa korkeuden näkymän korkeudeksi */
  }




  /* Media queries */
  @media only screen and (max-width: 700px) {
    .header-image {
      width: 20%; /* Kuvan koko suurenee hieman puhelimessa */
      margin-left: 0; /* Poistaa marginaalin */
     }

    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 14px;
  }

 
    .header-content {
      left: 50%; /* Keskittää tekstin paremmin */
      font-size: 14px; /* Vähentää fonttikokoa pienemmille näytöille */
    }
  
    ul {
      padding-left: 0;
      padding-right: 0;
    }
  
    li {
      display: block; /* Siirtää linkit pystysuoraan */
      margin: 20px 0; /* Vähentää marginaalia */
    }
  
  }

    .img1, ptext {
        text-align: center;
        color: white;
        font-weight: 600;
    }
    .img2, h1 {
        padding-top: 7%;
        padding-left: 3%;
        color: white;
        font-size: 26px;
        font-weight: 600;
    }



  


